@model string
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<body style="background-image: url(https://cdn.thespaces.com/wp-content/uploads/2020/01/Gymshark-hero-crop.jpg);
        background-size: 100%">
    <div class="container" style="margin-top: 140px;">
        
        <h1>Create Role</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name">New Role</label>
                <input name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>