@model Project_Gym_Asp_Net.Models.Exercise

@{
    ViewData["Title"] = "CreateExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url(https://lh3.googleusercontent.com/proxy/5vlYS8zzfrdrotWgJoRDtv-swWPOAL5Pw2emIFlZVVIGKeMZEzH5MLwkhGZ-HuD2kwZbrHbJ6MkB11OyZ6KSiNRgRE64W4AegjuLR8mSOdhA424);
        background-size: 100%">
    <div class="container justify-content-center">
        <h1>Create Exercise</h1>
        <br />
        <div>
            <div class="row">
                <div class="col-md-4">

                    <form method="post" class="needs-validation" novalidate">
                        <table>
                            <tr>
                                <td>Exercise Name: </td>
                                <td><input type="text" name="ExerciseName" /></td>
                            </tr>
                            <tr>
                                <td>Count Approach:</td>
                                <td><input type="text" name="CountApproach" /></td>
                            </tr>
                            <tr>
                                <td>Repeats:</td>
                                <td><input type="text" name="Repeats" /></td>
                            </tr>
                            <tr>
                                <td>Exercise Category:</td>
                                <td><input type="text" name="ExerciseCategory" /></td>
                            </tr>
                        </table>
                        <br />
                        <button class="btn btn-success btn-lg btn-block" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>    
