@model Project_Gym_Asp_Net.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}
<body style="background-image: url(https://www.grandslamfitness.co.in/products/wp-content/uploads/2017/12/Reasons-why-many-Gyms-Fail.jpg);
        background-size: 100%">
        <br />
        <h1 class="text-warning">Change Password for user @Model.Email</h1>
        <form asp-action="ChangePassword" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Old Password</label>
                <input type="text" asp-for="OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New Password</label>
                <input type="text" asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success w-100" />
            </div>
        </form>

        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

                <div class="col">
                    <div class="card shadow-sm bg-warning text-light ">
                        <img src="https://us.123rf.com/450wm/imogi/imogi1805/imogi180500080/105264384-vintage-fitness-emblem-template.jpg?ver=6" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Sport it's life</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-danger text-light">
                        <img src="https://i.pinimg.com/736x/09/ec/18/09ec18b5923cc8e17d02535e4e4a6591.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Be Strong</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>