@{
    ViewData["Title"] = "About_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

       
<body class="bg-secondary">
    <div class="container-fluid" style="margin-top: 1px;">
        
        <h2 class="text-center" style="color: greenyellow"> Спортивний тренажерний зал Sun_Gym (Boston, IF).</h2>
        <div class="container text-white">
            <h3>Надаєм широкий вибір Спортивних тренувань. Великий спектр різноманітних тренажерів та інвентаря,
                дозволить тренуватись кожному на свій рівень, та здобути розвиток у спорті і досягти бажаного результату.
            </h3>
        </div>
        <br />
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

                <div class="col">
                    <div class="card shadow-sm bg-warning text-secondary">
                        <img src="https://static.toiimg.com/thumb/msid-78118340,imgsize-896783,width-800,height-600,resizemode-75/78118340.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>HARD LIFT</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-danger text-warning">
                        <img src="https://m.economictimes.com/thumb/msid-77342362,width-1200,height-900,resizemode-4,imgsize-419941/gym.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Be Strong</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-warning text-secondary">
                        <img src="https://media2.fdncms.com/bend/imager/u/original/12502621/gym-unsplash-photo-1534438327276-14e5300c3a48.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Newer Gonna Stop!!!</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-warning text-secondary">
                        <img src="https://www.gymcareer.com/wp-content/uploads/2018/09/newcastle-east-the-gym-0007007.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Animalsss!!!</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-warning text-secondary">
                        <img src="https://i2.photo.2gis.com/images/branch/105/14777436312179206_9007.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Animalsss!!!</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm bg-warning text-secondary">
                        <img src="https://fit4you.dp.ua/wp-content/uploads/2019/07/EZ2A2226.jpg" class="img-responsive" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <b>Animalsss!!!</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
