@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
<body class="" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/index-1596545886.jpg); background-size: 100%">
    <h1 class="text-lg-left" style="margin-top: 330px; margin-left: 0px; color: gold">Welcome in <span style="color:greenyellow; font-weight: 900; font-family: Gadugi "><i>Sun_Gym</i></span></h1>
</body>